# Python Basics

Expression: It is the most basic kind of programing instruction (2 + 2).

Data type: It is a category for values and every value belongs to exactly one data type.

What would you use to find a number's square root, as well as its square?

In [3]:
# Square root
49 ** 0.5

7.0

In [4]:
# Square
5 ** 2

25

## Strings

Given the string "hello", give two methods of producing the letter 'o' using indexing

In [9]:
i = "hello"

# Method 1

i[-1]

'o'

In [8]:
i = "hello"

# Method 2

i[4]

'o'

Reverse the string using slicing.

In [10]:
i = "hello"

i[::-1]

'olleh'

## Lists

Build the list [0, 0, 0] two separate ways.

In [14]:
# Method 1

my_list = [0] * 3
my_list

[0, 0, 0]

In [15]:
# Method 2

my_second_list = [0, 0, 0]
my_second_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead.

In [16]:
list_example = [1, 2, [3, 4, "hello"]]

In [17]:
list_example[2][2] = "goodbye"
list_example

[1, 2, [3, 4, 'goodbye']]

Sort the below list.

In [18]:
list_sorted = [5, 3, 4, 6, 1]

In [20]:
list_sorted.sort()
list_sorted

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the "hello" from the following dictionaries

In [23]:
d = {"simple_key": "hello"}

d["simple_key"]

'hello'

In [25]:
d = {"k1":{"k2": "hello"}}

In [29]:
d["k1"]["k2"]

'hello'

In [26]:
d1 = {"k1":[{"nest_key":["this is deep",["hello"]]}]}

In [36]:
d1["k1"][0]["nest_key"][1]

['hello']

In [28]:
d2 = {"k1":[1,2,{"k2":["this is tricky",{"tough":[1,2,["hello"]]}]}]}

In [38]:
d2["k1"][2]["k2"][1]["tough"][2]

['hello']

## Tuples vs. Lists

A list is a value that contains multiple values in an ordered sequence. A list value is a mutable data type.

A tuple is a type of data structure that is not mutable. They can't be changed once they are created.